*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(231, 231, 231);
    height: 15rem;
    padding: 1rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

