*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin: auto;
    font-size: 2.3rem;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color:var(--txt-color) ;
}

.light{
    background-color: var(--bg-color);
    color:black;
}

.dark{
    background-color: rgb(97, 97, 97);
    color:white ;
}
